# Functions for up- and downsampling of the data to account for class imbalances


Source: https://www.kaggle.com/code/aikhmelnytskyy/birdclef24-pretraining-is-all-you-need#Filter-&-Upsample-Data-%E2%AC%86%EF%B8%8F

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("../../data/dataset_raw.csv")

In [44]:
class cfg:
    seed = 42

### The issue:

In [23]:
counts = df.groupby("en")["en"].count().reset_index(name='count').sort_values("count", ascending = False)
counts

                        en  count
0             Barn Swallow    500
14       Eurasian Blackcap    500
44          Willow Warbler    500
42               Tawny Owl    500
41             Song Thrush    500
32               Great Tit    500
30          European Robin    500
29     European Greenfinch    500
28      European Goldfinch    500
26           Eurasian Wren    500
1           Black Redstart    500
20  Eurasian Golden Oriole    500
15       Eurasian Blue Tit    500
45            Yellowhammer    500
12                 Dunnock    500
4        Common Chiffchaff    500
2         Common Blackbird    500
5            Common Cuckoo    500
3         Common Chaffinch    500
8          Common Redstart    500
6       Common Nightingale    498
10         Common Starling    487
33           House Sparrow    458
40                 Redwing    452
31               Goldcrest    443
22       Eurasian Nuthatch    430
38           Mistle Thrush    399
25       Eurasian Woodcock    397
11      Common Wood Pigeon    374
17  Eurasian Collared Dove    373
19      Eurasian Eagle-Owl    334
23         Eurasian Siskin    304
34              Little Owl    256
9             Common Snipe    245
16      Eurasian Bullfinch    214
18         Eurasian Curlew    196
36          Long-eared Owl    194
27    European Crested Tit    193
24   Eurasian Tree Sparrow    185
43           White Wagtail    172
37            Meadow Pipit    162
13        Eurasian Bittern    157
21            Eurasian Jay    128
7          Common Redshank    120
39        Northern Lapwing    110
35    Little Ringed Plover    101

In [28]:
df.groupby("en")["length_seconds"].sum(
).reset_index(name='total length (seconds)').sort_values("total length (seconds)", ascending = False)[:60]

                        en  total length (seconds)
2         Common Blackbird                   75144
41             Song Thrush                   66877
6       Common Nightingale                   65856
30          European Robin                   61216
14       Eurasian Blackcap                   60421
42               Tawny Owl                   53970
45            Yellowhammer                   47329
3         Common Chaffinch                   43666
32               Great Tit                   42801
26           Eurasian Wren                   42640
8          Common Redstart                   42224
44          Willow Warbler                   40937
29     European Greenfinch                   39767
4        Common Chiffchaff                   36582
10         Common Starling                   36500
28      European Goldfinch                   36065
20  Eurasian Golden Oriole                   34090
1           Black Redstart                   32745
15       Eurasian Blue Tit                   31915
5            Common Cuckoo                   30805
38           Mistle Thrush                   29951
12                 Dunnock                   29508
40                 Redwing                   29112
0             Barn Swallow                   28436
19      Eurasian Eagle-Owl                   25346
31               Goldcrest                   25222
33           House Sparrow                   22330
22       Eurasian Nuthatch                   20081
34              Little Owl                   19117
23         Eurasian Siskin                   16624
11      Common Wood Pigeon                   15869
17  Eurasian Collared Dove                   15122
16      Eurasian Bullfinch                   14432
36          Long-eared Owl                   14023
24   Eurasian Tree Sparrow                   11184
9             Common Snipe                    9843
25       Eurasian Woodcock                    9718
43           White Wagtail                    8618
21            Eurasian Jay                    8187
27    European Crested Tit                    7727
37            Meadow Pipit                    6829
18         Eurasian Curlew                    6484
13        Eurasian Bittern                    5121
35    Little Ringed Plover                    4271
7          Common Redshank                    4056
39        Northern Lapwing                    3871

## Upsampling

In [45]:
def upsample_data(df, thr=200):
    # get the class distribution
    class_dist = df['en'].value_counts()

    # identify the classes that have less than the threshold number of samples
    down_classes = class_dist[class_dist < thr].index.tolist()

    # create an empty list to store the upsampled dataframes
    up_dfs = []

    # loop through the undersampled classes and upsample them
    for c in down_classes:
        # get the dataframe for the current class
        class_df = df.query("en==@c")
        # find number of samples to add
        num_up = thr - class_df.shape[0]
        # upsample the dataframe
        class_df = class_df.sample(n=num_up, replace=True, random_state=cfg.seed)
        # append the upsampled dataframe to the list
        up_dfs.append(class_df)

    # concatenate the upsampled dataframes and the original dataframe
    up_df = pd.concat([df] + up_dfs, axis=0, ignore_index=True)
    
    return up_df

In [39]:
len(df)

17382

In [40]:
df_up = upsample_data(df)

In [41]:
len(df_up)

17864

In [42]:
df_up.groupby("en")["en"].count().reset_index(name='count').sort_values("count", ascending = False)

                        en  count
0             Barn Swallow    500
14       Eurasian Blackcap    500
44          Willow Warbler    500
42               Tawny Owl    500
41             Song Thrush    500
32               Great Tit    500
30          European Robin    500
29     European Greenfinch    500
28      European Goldfinch    500
26           Eurasian Wren    500
1           Black Redstart    500
20  Eurasian Golden Oriole    500
15       Eurasian Blue Tit    500
45            Yellowhammer    500
12                 Dunnock    500
4        Common Chiffchaff    500
2         Common Blackbird    500
5            Common Cuckoo    500
3         Common Chaffinch    500
8          Common Redstart    500
6       Common Nightingale    498
10         Common Starling    487
33           House Sparrow    458
40                 Redwing    452
31               Goldcrest    443
22       Eurasian Nuthatch    430
38           Mistle Thrush    399
25       Eurasian Woodcock    397
11      Common Wood Pigeon    374
17  Eurasian Collared Dove    373
19      Eurasian Eagle-Owl    334
23         Eurasian Siskin    304
34              Little Owl    256
9             Common Snipe    245
16      Eurasian Bullfinch    214
7          Common Redshank    200
27    European Crested Tit    200
35    Little Ringed Plover    200
36          Long-eared Owl    200
37            Meadow Pipit    200
39        Northern Lapwing    200
24   Eurasian Tree Sparrow    200
21            Eurasian Jay    200
18         Eurasian Curlew    200
43           White Wagtail    200
13        Eurasian Bittern    200

In [43]:
df_up.groupby("en")["length_seconds"].sum(
).reset_index(name='total length (seconds)').sort_values("total length (seconds)", ascending = False)

                        en  total length (seconds)
2         Common Blackbird                   75144
41             Song Thrush                   66877
6       Common Nightingale                   65856
30          European Robin                   61216
14       Eurasian Blackcap                   60421
42               Tawny Owl                   53970
45            Yellowhammer                   47329
3         Common Chaffinch                   43666
32               Great Tit                   42801
26           Eurasian Wren                   42640
8          Common Redstart                   42224
44          Willow Warbler                   40937
29     European Greenfinch                   39767
4        Common Chiffchaff                   36582
10         Common Starling                   36500
28      European Goldfinch                   36065
20  Eurasian Golden Oriole                   34090
1           Black Redstart                   32745
15       Eurasian Blue Tit                   31915
5            Common Cuckoo                   30805
38           Mistle Thrush                   29951
12                 Dunnock                   29508
40                 Redwing                   29112
0             Barn Swallow                   28436
19      Eurasian Eagle-Owl                   25346
31               Goldcrest                   25222
33           House Sparrow                   22330
22       Eurasian Nuthatch                   20081
34              Little Owl                   19117
23         Eurasian Siskin                   16624
11      Common Wood Pigeon                   15869
17  Eurasian Collared Dove                   15122
36          Long-eared Owl                   14472
16      Eurasian Bullfinch                   14432
21            Eurasian Jay                   13417
24   Eurasian Tree Sparrow                   11868
43           White Wagtail                   10373
9             Common Snipe                    9843
25       Eurasian Woodcock                    9718
35    Little Ringed Plover                    9291
37            Meadow Pipit                    8480
27    European Crested Tit                    7980
39        Northern Lapwing                    7313
7          Common Redshank                    6887
18         Eurasian Curlew                    6584
13        Eurasian Bittern                    6469

## Downsampling

In [48]:
def downsample_data(df, thr=400):
    # get the class distribution
    class_dist = df['en'].value_counts()
    
    # identify the classes that have less than the threshold number of samples
    up_classes = class_dist[class_dist > thr].index.tolist()

    # create an empty list to store the upsampled dataframes
    down_dfs = []

    # loop through the undersampled classes and upsample them
    for c in up_classes:
        # get the dataframe for the current class
        class_df = df.query("en==@c")
        # Remove that class data
        df = df.query("en!=@c")
        # upsample the dataframe
        class_df = class_df.sample(n=thr, replace=False, random_state=cfg.seed)
        # append the upsampled dataframe to the list
        down_dfs.append(class_df)

    # concatenate the upsampled dataframes and the original dataframe
    down_df = pd.concat([df] + down_dfs, axis=0, ignore_index=True)
    
    return down_df

In [49]:
df_down = downsample_data(df_up)

In [50]:
df_down.groupby("en")["en"].count().reset_index(name='count').sort_values("count", ascending = False)

                        en  count
0             Barn Swallow    400
20  Eurasian Golden Oriole    400
44          Willow Warbler    400
42               Tawny Owl    400
41             Song Thrush    400
40                 Redwing    400
33           House Sparrow    400
32               Great Tit    400
31               Goldcrest    400
30          European Robin    400
29     European Greenfinch    400
28      European Goldfinch    400
26           Eurasian Wren    400
1           Black Redstart    400
22       Eurasian Nuthatch    400
45            Yellowhammer    400
8          Common Redstart    400
2         Common Blackbird    400
15       Eurasian Blue Tit    400
3         Common Chaffinch    400
14       Eurasian Blackcap    400
4        Common Chiffchaff    400
5            Common Cuckoo    400
12                 Dunnock    400
10         Common Starling    400
6       Common Nightingale    400
38           Mistle Thrush    399
25       Eurasian Woodcock    397
11      Common Wood Pigeon    374
17  Eurasian Collared Dove    373
19      Eurasian Eagle-Owl    334
23         Eurasian Siskin    304
34              Little Owl    256
9             Common Snipe    245
16      Eurasian Bullfinch    214
7          Common Redshank    200
35    Little Ringed Plover    200
36          Long-eared Owl    200
37            Meadow Pipit    200
27    European Crested Tit    200
39        Northern Lapwing    200
24   Eurasian Tree Sparrow    200
13        Eurasian Bittern    200
21            Eurasian Jay    200
43           White Wagtail    200
18         Eurasian Curlew    200

In [51]:
df_down.groupby("en")["length_seconds"].sum(
).reset_index(name='total length (seconds)').sort_values("total length (seconds)", ascending = False)

                        en  total length (seconds)
2         Common Blackbird                   60529
41             Song Thrush                   53897
6       Common Nightingale                   53276
30          European Robin                   49362
14       Eurasian Blackcap                   48762
42               Tawny Owl                   43575
45            Yellowhammer                   37974
3         Common Chaffinch                   35273
32               Great Tit                   34586
26           Eurasian Wren                   34483
8          Common Redstart                   33727
44          Willow Warbler                   32228
29     European Greenfinch                   31794
10         Common Starling                   30250
38           Mistle Thrush                   29951
4        Common Chiffchaff                   29637
28      European Goldfinch                   28698
20  Eurasian Golden Oriole                   27429
40                 Redwing                   26558
1           Black Redstart                   26193
15       Eurasian Blue Tit                   25935
19      Eurasian Eagle-Owl                   25346
5            Common Cuckoo                   25184
12                 Dunnock                   23901
0             Barn Swallow                   23233
31               Goldcrest                   22703
33           House Sparrow                   19640
34              Little Owl                   19117
22       Eurasian Nuthatch                   18871
23         Eurasian Siskin                   16624
11      Common Wood Pigeon                   15869
17  Eurasian Collared Dove                   15122
36          Long-eared Owl                   14472
16      Eurasian Bullfinch                   14432
21            Eurasian Jay                   13417
24   Eurasian Tree Sparrow                   11868
43           White Wagtail                   10373
9             Common Snipe                    9843
25       Eurasian Woodcock                    9718
35    Little Ringed Plover                    9291
37            Meadow Pipit                    8480
27    European Crested Tit                    7980
39        Northern Lapwing                    7313
7          Common Redshank                    6887
18         Eurasian Curlew                    6584
13        Eurasian Bittern                    6469